@using System.Linq
@model Domain.Entities.Cart

@{
    ViewBag.Title = "View";
}



@if (Model == null || !Model.Lines.Any())
{
    <div class="alert alert-info">Корзина пуста</div>

    @*<div class="alert alert-success">Задача успешно завершена</div>
        <div class="alert alert-warning">Внимание!</div>
        <div class="alert alert-danger">Опасно!</div>*@
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>
                Продукт
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
        </tr>

        @foreach (var line in @Model.Lines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => line.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(item => line.Product.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(item => line.Quantity)
                </td>
            </tr>
        }
    </table>
}

