body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal item-descblockription lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Products */

.item {
    display: table;
    width: 100%;
    padding: 10px 10px 15px;
    border-bottom: 1px solid #d1d1d1;
}

.item-imageblock {
    display: table-cell;
    position: relative;   
    padding-right: 23px;
    /*min-width: 360px;*/
}

.item-imageblock-img {
    /*height: 200px;*/
    width: 200px;
}

.item-descblock {
    display: table-cell;
    position: relative;
    vertical-align: top;
    width: 100%;
    min-width: 0;
    padding: 0 0 0 5px;
}

.item-descblock-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #363636;
}

.item-priceblock {
    display: table-cell;
    white-space: nowrap;
    vertical-align: top;
    padding: 0;
}


.item-priceblock-price {
    text-align: right;
    display: block;
    clear: right;
    font-size: 24px;
}


.item-priceblock-buybutton {
    margin: 5px 0 5px;
    text-align: right;
}